@charset  "utf-8";
.main_title{
    padding: 0 10px; 
    line-height: 40px;
    height: 40px; 
    font-size: 20px; 
    border-bottom: 1px solid #e5e5e5; 
    border-left: 5px solid #333; 
    color: #333;
}
.left_box{
    width: 65%; float: left; overflow: hidden; margin-left: 20px;
}
.right_box{
    width: 28%; float: right; overflow: hidden; margin-right:20px;
}
.avatar img{
    width: 150px;  height: 150px;
}