@charset  "utf-8";

.Wel{
    /*vertical center:
    height: 55vmin; 
    display: flex; 
    align-items: center;
    justify-content: center; */
    text-align: center;
}
.welcome {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 5em;
    color: purple;
}
.motto {
    margin :0px;
    font-size: 3em;
    color: #800040;
}
.web {
    font-size: 1em;
    color: purple;
}
#fox{
    width:156px;
    height:156px;
    float: right;
    margin-right: 10%;
    margin-bottom: 1%;
    background:url(../image/foxtail.png) no-repeat 0 0;
    animation:animate-tail 3.75s steps(44) infinite;
}
@keyframes animate-tail{
    0%{background-position:-6864px 0;}
    100%{background-position:0 0;}
}
.copyright{
    width: 100vw;
    text-align: center;
    color: turquoise;
    position: fixed;
    bottom: 0px;
    
    /* width:100%; 
    height:35px; 
    line-height:35px;  
    position:fixed; 
    bottom:0px; 
    left:0px; 
    font-size:14px; 
    color:#000; 
    text-align:center; */
}